# No whitespace after the comma or in your part name!
config SHIELD_DADIYA_LEFT
    def_bool $(shields_list_contains,my_keyboard_left)

# No whitespace after the comma or in your part name!
config SHIELD_DADIYA_RIGHT
    def_bool $(shields_list_contains,my_keyboard_right)